.PROFILE-PAGE {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PROFILE-PAGE .div {
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.PROFILE-PAGE .ellipse {
  position: absolute;
  width: 351px;
  height: 354px;
  top: 230px;
  left: 120px;
  background-color: #dd5757;
  border-radius: 175.5px / 177px;
  border: 15px solid;
  border-color: #ff0000;
}

.PROFILE-PAGE .text-wrapper {
  position: absolute;
  top: 25px;
  left: 841px;
  font-family: "Inknut Antiqua-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROFILE-PAGE .text-wrapper-2 {
  position: absolute;
  top: 282px;
  left: 683px;
  font-family: "Inknut Antiqua-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROFILE-PAGE .text-wrapper-3 {
  position: absolute;
  top: 406px;
  left: 823px;
  font-family: "Inknut Antiqua-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.PROFILE-PAGE .profile {
  position: absolute;
  width: 330px;
  height: 333px;
  top: 954px;
  left: -9031px;
}
body {
  background: linear-gradient(95deg, #ff66cc, #99ccff);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}